<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
  <title> JAMES LE-GOFF </title>
  <script id="testingId" src="testing.bundle.js"></script>
  <script defer src="theme-control.js">
  </script>
  <link rel="icon" href="https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.7/assets/png/1f680.png">
  <link rel="stylesheet" href="css/main.css" />  
</head>