<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
  <title> JAMES LE-GOFF </title>
  <script id="testingId" src="setup.bundle.js"></script>
  <link id="gsaphidden" rel="stylesheet" href="css/styles.css" disabled>
  <script defer src="theme-control.js"> </script>
  <link rel="icon" href="https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.7/assets/png/1f680.png">
  <link id="maincss" rel="stylesheet" href="css/main.css"/>  
  <% if (typeof path !== 'undefined' && path === '/about') { %>
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.71/build/spline-viewer.js"></script>
  <% } %>
</head>