<nav class="nav-container nav-container--secondary">  
  <!-- Canvas logo get added inside of this div. Do not change the ID. -->
  <a id="logo-canvas" style="pointer-events: none;"> 
  </a>

  <div class="nav-container">
    <input type="checkbox" class="theme-toggle" id="switch" />
    <label id="toggle-input"  for="switch"> Toggle </label>
    <ul id="mainnav" class="nav">
      <li class="nav__item">
        <a class="nav__link nav__link-1" href="/">
          <%= t('header.home') %>
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link nav__link-3" href="/projects">
          <%= t('header.projects') %>
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link nav__link-4" href="/about">
          <%= t('header.about') %>
        </a>
      </li>
      <!-- <li class="nav__item">
        <a class="nav__link nav__link-2" href="/blog"> Blog </a>
      </li> -->
      <li class="nav__item">
        <a class="nav__link nav__link-1" href="/contact">
          <%= t('header.Contact') %>
        </a>
      </li>
    </ul>

    <div id="langid" class="nav__item lang">
      <div class="lang-container">
        <img class="lang-container__img" src="/assets/globe-icon-black.png" alt="globe icon">
        <a id="current-lang" class="nav__link lang-container__link" href="?lng=en">English</a>
        <img class="lang-container__icon" src="/assets/chevron-icon.png" alt="arrow pointing down">
      </div>

      <div class="lang-wrapper u-hidden">
        <div class="lang-modal ">
          <a id="alt-lang" class="nav__link lang-modal__text" href="?lng=fr"> 
            <img class="lang-modal__icon" src="/assets/france-icon.png" alt="flag of france"> French
          </a>
        </div>
      </div>
    </div>
    <button id="" class="mobile-nav-btn open-nav-js">
      <img id="open-mobile-nav" src="/assets/mobile-menu-button.svg" alt="mobile menu" />
    </button>
  </div>
</nav>