@use "variables" as *;

:root {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
  font-family: $font-family;
  min-width: 20rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2.5rem 0;
}

.internationalization {
  font-size: 0.75rem;

  @media screen and (min-width: $md-screen) {
    font-size: $mg-300;
  }
}

.header {
  margin-bottom: $mg-700;
}

.main {
  margin-bottom: $mg-700;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: $white;
}

a:active {
  color: $white;
}

#projects > span {
  margin-right: -5px;
}