@use 'variables' as *;

:root {
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
  font-family: $font-family;
  min-width: 20rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

span {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 87.2%
}

.container--sm {
  width: 70%;
}

.container--lg {
  width: 90%;
}

.internationalization {
  font-size: 0.75rem;
}

.header {
  margin-bottom: $mg-700;
}

.main {
  margin-bottom: $mg-700;
}


/***
  TABLE OF CONTENTS
  1. Mobile Navigation
  1. Icons
  1. NAVIGATION
  2. HEADER
  3. SKILLS
  4. PROJECTS
  5. Contact
  6. FORM
***/

/***
  Mobile Navigation
***/
.mobile-nav-container {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 20px 0;
  position: fixed;
  text-align: center;
  width: 125px;
  z-index: 3;
}

.mobile-nav__item {
  list-style: none;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: $mg-400;
}

.mobile-nav__link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

/***
  icons
***/
.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icons__icon {
  margin-bottom: $mg-200;
}


/***
  Navigation
***/

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $mg-400;
  padding-top: 20px;
}

.mobile-nav-btn {
  background: transparent;
  border: none;
  height: 50px;
  width: 50px;
  padding: 0;
}

.mobile-nav-btn:hover {
  cursor: pointer;
}


/***
  Header
***/
.portfolio-title {
  font-size: 15vw;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: $mg-500;
  text-transform: uppercase;


  @media (min-width: $lg-screen) {
    font-size: 10vw;
    line-height: 1;
  }
}

.portfolio-title br:nth-of-type(2) {
  @media (min-width: $lg-screen) {
    display: none;
  }
}

.developer {
  @media (min-width: $lg-screen) {
    margin-left: 10vw;
  }
}

.by {
  margin-left: 66vw;

  @media (min-width: $lg-screen) {
    margin-left: 0vw;
  }
}

.legoff {
  margin-left: 5vw;

  @media (min-width: $lg-screen) {
    margin-left: 15vw;
  }
}

.primary-char-color {
  color: $salmon;
}

.secondary-char-color {
  color: $yellow;
}

.tertiary-char-color {
  color: $orange;
}

.span-text-spacing {
  margin: 0 -4.6vw;

  @media (min-width: $lg-screen) {
    margin: 0 -3vw;
  }
}

.intro-title {
  margin-bottom: $mg-200;
}


.intro-subtitle {
  font-style: italic;
  margin-bottom: $mg-200;
}

.intro-text {
  font-size: 14px;
  opacity: 75%;
  margin-bottom: $mg-200;
}

/***
  Skills
***/
.skills {
  text-align: center;
  text-transform: uppercase;
}

.skills__heading {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.skills__heading--1::first-letter {
  color: $salmon;
}

.skills__heading--2::first-letter {
  color: $yellow;
}

.skills__heading--3::first-letter {
  color: $orange;
}

.skills__frontend {
  color: $salmon;
  margin: 0 auto;
  width: 90%;
}

.skills__backend {
  color: $yellow;
  margin: 0 auto;
  width: 90%;
}

.skills__devops {
  color: $orange;
  margin: 0 auto;
  width: 90%;
}

/***
  PROJECTS
***/
.grid-wrapper {
  margin: 50px auto;
  background: #fff;
  max-width: 800px;
  box-shadow: 0px 25px 30px -20px rgba(0, 0, 0, 0.2);
}

.grid {
  margin: 0 auto;
  display: grid;
  width: 279px;

  @media screen and (min-width: 608px) {
    width: 423.5px 
  }

  @media screen and (min-width: 752.5px) {
    width: 568px 
  }
}

.grid-item {
  margin-bottom: 10px;
  width: 134.5px;
}

.grid-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


/***
  Contact
***/
#contact-section {
  
}

.contact {
  margin-bottom: $mg-400;
}

.contact__heading {
  font-size: $fs-200;
  margin-bottom: $mg-100;
}

.contact__text {
  font-size: $fs-100;
}

/***
  FORM
***/
.form {
  padding-bottom: 60px;
}

.form__label {
  font-size: 12px;
}

.form__input {
  border: none;
  border-bottom: 0.5px solid rgba(255,255,255,0.1);
  background: transparent;
  width: 30%;
}

.form__input--name {

}

.form__input--company {
  width: 33%;
}

.form__input--project-idea {
 width: 50%;
}

.form__input--email {
  width: 58%;
}

.form__input::placeholder {
  font-size: 6px;
}

/***
  Button
***/
.btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.btn {
  background-color: transparent;
  border: 1px solid rgba(255,255,255);
  color: $white;
  font-size: 8px;
  height: 26.86px;
  width: 93.1px;
}

.btn--link {
  text-align: center;
  display: inline-block;
  line-height: 26.86px;
  text-decoration: none;
}

