@use 'variables' as *;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
  font-family: $font-family;
  min-width: 20rem;
  overflow-y: scroll;
  overflow-x: hidden;
}



span {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 87.2%
}

.container--sm {
  width: 70%;
}

.container--lg {
  width: 90%;
}

.internationalization {
  font-size: 0.75rem;
}


/***
  TABLE OF CONTENTS
  1. NAVIGATION
  2. HEADER
  3. SKILLS
  4. PROJECTS
***/


/***
  Navigation
***/

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.mobile-nav-btn {
  background: transparent;
  border: none;
  padding: 0;
}


/***
  Header
***/
.portfolio-title {
  font-size: 15vw;
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;


  @media (min-width: $lg-screen) {
    font-size: 10vw;
    line-height: 1;
  }
}

.portfolio-title br:nth-of-type(2) {
  @media (min-width: $lg-screen) {
    display: none;
  }
}

.developer {
  @media (min-width: $lg-screen) {
    margin-left: 10vw;
  }
}

.by {
  margin-left: 66vw;

  @media (min-width: $lg-screen) {
    margin-left: 0vw;
  }
}

.legoff {
  margin-left: 5vw;

  @media (min-width: $lg-screen) {
    margin-left: 15vw;
  }
}

.primary-char-color {
  color: $salmon;
}

.secondary-char-color {
  color: $yellow;
}

.tertiary-char-color {
  color: $orange;
}

.span-text-spacing {
  margin: 0 -4.6vw;

  @media (min-width: $lg-screen) {
    margin: 0 -3vw;
  }
}


.intro-subtitle {
  font-style: italic;
}

.intro-text {
  font-size: 14px;
  opacity: 75%;
}

/***
  Skills
***/
.skills {
  text-align: center;
  text-transform: uppercase;
}

.skills__heading {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.skills__heading--1::first-letter {
  color: $salmon;
}

.skills__heading--2::first-letter {
  color: $yellow;
}

.skills__heading--3::first-letter {
  color: $orange;
}

.skills__frontend {
  color: $salmon;
  margin: 0 auto;
  width: 90%;
}

.skills__backend {
  color: $yellow;
  margin: 0 auto;
  width: 90%;
}

.skills__devops {
  color: $orange;
  margin: 0 auto;
  width: 90%;
}

/***
  PROJECTS
***/
.grid-wrapper {
  margin: 50px auto;
  background: #fff;
  max-width: 800px;
  box-shadow: 0px 25px 30px -20px rgba(0, 0, 0, 0.2);
}

.grid {
  margin: 0 auto;
  display: grid;
  width: 279px;

  @media screen and (min-width: 608px) {
    width: 423.5px 
  }

  @media screen and (min-width: 752.5px) {
    width: 568px 
  }
}

.grid-item {
  margin-bottom: 10px;
  width: 134.5px;
}

.grid-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.grid-item1 {

}

.grid-item2 {

}

.grid-item3 {

}

.grid-item4 {

}

.grid-item5 {
  
}

.grid-item6 {

}
