@use 'variables' as *;

//Text Align
.u-text-center {     
  text-align: center;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-justify {
  text-align: justify;
}


//Margin Bottom
.mb-0 {
  margin-bottom: $m-0;
}
.mb-1 {
  margin-bottom: $m-1;
}
.mb-2 {
  margin-bottom: $m-2;
}
.mb-3 {
  margin-bottom: $m-3;
}
.mb-4 {
  margin-bottom: $m-4;
}
.mb-5 {
  margin-bottom: $m-5;
}
.mb-6 {
  margin-bottom: $m-6;
}
.mb-7 {
  margin-bottom: $m-7;
}
.mb-8 {
  margin-bottom: $m-8;
}
.mb-9 {
  margin-bottom: $m-9;
}

.op-75 {
  opacity: 75%;
}

.overlay {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  height: 0px;
  opacity: 0;
  width: 100%;
}


//Font Weight
.u-text-100 {
  font-weight: 100;
}
.u-text-200 {
  font-weight: 200;
}
.u-text-300 {
  font-weight: 300;
}
.u-text-400 {
  font-weight: 400;
}
.u-text-500 {
  font-weight: 500;
}
.u-text-600 {
  font-weight: 600;
}
.u-text-700 {
  font-weight: 700;
}
.u-text-800 {
  font-weight: 800;
}
.u-text-900 {
  font-weight: 900;
}

//Background Images
.bg-image {
  position: absolute;
  z-index: -1;
  margin-top: -2.5rem;
  height: 400px;
  width: 100vw;
  background: url('../assets/shared/beige&blackbackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}