@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.dark-theme {
  --text-color: 255, 255, 255;
  --mobile-color: #000000;
  --background-color: #000000;
  --mobile-background-color: white;
  --language-color: #000000;   
}

.light-theme {
  --text-color: 0, 0, 0;
  --mobile-color: #ffffff;
  --background-color: white;
  --mobile-background-color: #000000;
  --language-color: #ffffff;
}

$font-family: 'Lato', sans-serif;
$font-family-2: 'Playfair Display', serif;
$yellow:rgb(229, 227, 126);
$salmon: rgb(221, 160, 145);
$orange: rgb(234, 79, 32);

$sm-screen: 576px; 
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;
$xxl-screen: 1400px;

//Margin
$mg-100: 5px;
$mg-200: 10px;
$mg-300: 15px;
$mg-400: 30px;
$mg-500: 60px;
$mg-600: 90px;
$mg-700: 120px;

$m-0: 4px;
$m-1: 8px;
$m-2: 16px;
$m-3: 24px;
$m-4: 32px;
$m-5: 40px;
$m-6: 48px;
$m-7: 88px;
$m-8: 120px;
$m-9: 160px; 

//Padding 
$p-0: 4px;
$p-1: 8px;
$p-2: 12px;
$p-3: 16px;
$p-4: 32px;
$p-5: 40px;
$p-6: 56px;

//Font Sizes
$fs-100: 12px;
$fs-200: 14px;
$fs-300: 16px;
$fs-400: 24px;
$fs-500: 28px;  
$fs-600: 36px;
$fs-700: 48px;

$fs-0: 8px;
$fs-1: 12px;
$fs-2: 16px;
$fs-3: 28px;
$fs-4: 32px;
$fs-5: 40px;
$fs-6: 48px;
$fs-7: 56px;