@use "../../variables" as *;

.about-header {
  padding: 1rem 0 2rem 0;
  margin-bottom: 40px;
}

.about-h1 {
  width: 85%;
  max-width: 800px;
  margin-bottom: 16px;

  @media screen and (min-width: $sm-screen) {
    width: 70%;
  }
}

.about-text {
  width: 80%;
  max-width: 600px;
}

.about-img {
  margin: 0 auto;
  width: 100%;
}

.about-section {
  @media screen and (min-width: $md-screen) {
    display: flex;
    gap: 16px;
    margin: 0 auto;
    width: 87.2%;
    max-width: 1000px;
  }

  &__header {
    @media screen and (min-width: $md-screen) {
      width: 400px;
    }    
  }

  &__body {
    @media screen and (min-width: $md-screen) {
      width: 300px;
    }
  }

  &__img {
    order: 2;
  }
}
