@use '../../variables' as *;

.contact-layout {
  display: flex;
  gap: $m-4;

  @media screen and (min-width: $md-screen){
    margin-top: $m-8;
  }

  &__item1 {
    @media screen and (min-width: $sm-screen){
      width: 50%;
    }
  }

  &__item2 {
    display: none;

    @media screen and (min-width: $sm-screen){
      display: block;
      width: 50%;
    }
  }
}

.contact-footer {
  @media screen and (min-width: $md-screen){
    position: absolute;
    bottom: 20px;
  }
}

