.container {
  display: block;
  margin: 0 auto;
  width: 87.2%;
  max-width: 1000px;
}

.container--sm {
  width: 70%;
  max-width: 257px;
}

.container--md {
  width: calc(216 / 327) *100%;
}

.container--lg {
  width: 90%;
}