@use '../../variables' as *;

/***
  PROJECTS
***/
.projects-grid {
  display: grid;
  row-gap: $m-7;
  margin: 0 auto;
  max-width: 1000px;
  padding-bottom: $m-7;

  @media screen and (min-width: $lg-screen) {
    grid-template-columns: 1fr 1fr;
    column-gap: $m-8;
    row-gap: $m-9;
  }
  &__wrapper {
    padding: 0 $m-2;

    @media screen and (min-width: $lg-screen) {
      padding: $m-1 0 0 0;
      display: flex;
      flex-direction: column;
      gap: $m-1;
    }
  }

  &__item {
    min-width: 400px;
    min-height: 400px;
  }


  &__item1 {
    order: 4;
    @media screen and (min-width: $lg-screen) {
      grid-column: 1 / 3;
      margin-left: $m-8;
    }
  }

  &__item2 {
    order: 2;
    @media screen and (min-width: $lg-screen) {
      margin-top: $m-9;
    }
  }

  &__item3 {
    order: 3;
    @media screen and (min-width: $lg-screen) {
    }
  }

  &__item4 {
    order: 5;
    @media screen and (min-width: $lg-screen) {
    }
  }

  &__item5 {
    order: 6;
    @media screen and (min-width: $lg-screen) {
      margin-top: $m-9;
    }
  }

  &__item6 {
    order: 7;
    @media screen and (min-width: $lg-screen) {
      grid-column: 1 / 3;
      margin-right: $m-9;
    }
  }

  &__item7 {
    @media screen and (min-width: $lg-screen) {
      order: 1;
      grid-column: 1 / 3;
      margin-left: $m-8;
    }
  }

  &__tags {
    display: flex;
    align-items: center;
    gap: $m-2;
  }
}

.projects-grid img {
  margin-bottom: $m-1;
}