@use "../../variables" as *;

/***
  PROJECTS
***/
.projects-grid {
  display: grid;
  row-gap: $m-7;
  margin: 0 auto;
  max-width: 1000px;
  padding-bottom: $m-7;

  @media screen and (min-width: $lg-screen) {
    grid-template-columns: 1fr 1fr;
    column-gap: $m-8;
    row-gap: $m-9;
  }

  &__wrapper {
    padding: 0 $m-2;

    @media screen and (min-width: $lg-screen) {
      padding: $m-1 0 0 0;
      display: flex;
      flex-direction: column;
      gap: $m-1;
    }
  }

  &__item {
    min-width: 400px;
    min-height: 400px;
  }

  &__link {
    cursor: none;
    display: block;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
  }

  &__link1:hover {
    transform: scale(1.02);
    -webkit-box-shadow: 23px 21px 23px -7px rgba(0, 185, 247, 0.45);
    -moz-box-shadow: 23px 21px 23px -7px rgba(0, 185, 247, 0.45);
    box-shadow: 23px 21px 23px -7px rgba(0, 185, 247, 0.45);
  }

  &__link2:hover {
    transform: scale(1.02);
    -webkit-box-shadow: 23px 21px 23px -7px rgba(65, 255, 255, 0.45);
    -moz-box-shadow: 23px 21px 23px -7px rgba(65, 255, 255, 0.45);
    box-shadow: 23px 21px 23px -7px rgba(65, 255, 255, 0.45);
  }

  &__link3:hover {
    transform: scale(1.02);
    -webkit-box-shadow: 23px 21px 23px -7px rgba(255, 163, 163, 0.48);
    -moz-box-shadow: 23px 21px 23px -7px rgba(255, 163, 163, 0.48);
    box-shadow: 23px 21px 23px -7px rgba(255, 163, 163, 0.48);
  }

  &__link4:hover {
    transform: scale(1.02);
    -webkit-box-shadow: 23px 21px 23px -7px rgba(67, 173, 82, 0.45);
    -moz-box-shadow: 23px 21px 23px -7px rgba(67, 173, 82, 0.45);
    box-shadow: 23px 21px 23px -7px rgba(67, 173, 82, 0.45);
  }

  &__link5:hover {
    transform: scale(1.02);
    -webkit-box-shadow: 23px 21px 23px -7px rgba(47, 47, 88, 0.45);
    -moz-box-shadow: 23px 21px 23px -7px rgba(47, 47, 88, 0.45);
    box-shadow: 23px 21px 23px -7px rgba(47, 47, 88, 0.45);
  }

  &__link6:hover {
    transform: scale(1.02);
    -webkit-box-shadow: 23px 21px 23px -7px rgba(238, 164, 43, 0.45);
    -moz-box-shadow: 23px 21px 23px -7px rgba(238, 164, 43, 0.45);
    box-shadow: 23px 21px 23px -7px rgba(238, 164, 43, 0.45);
  }

  &__link7:hover {
    transform: scale(1.02);
    -webkit-box-shadow: 23px 21px 23px -7px rgba(0, 135, 255, 0.39);
    -moz-box-shadow: 23px 21px 23px -7px rgba(0, 135, 255, 0.39);
    box-shadow: 23px 21px 23px -7px rgba(0, 135, 255, 0.39);
  }

  &__img {
  }

  &__item1 {
    order: 4;
    @media screen and (min-width: $lg-screen) {
      grid-column: 1 / 3;
      margin-left: $m-8;
    }
  }

  &__item2 {
    order: 2;
    @media screen and (min-width: $lg-screen) {
      margin-top: $m-9;
    }
  }

  &__item3 {
    order: 3;
    @media screen and (min-width: $lg-screen) {
    }
  }

  &__item4 {
    order: 5;
    @media screen and (min-width: $lg-screen) {
    }
  }

  &__item5 {
    order: 6;
    @media screen and (min-width: $lg-screen) {
      margin-top: $m-9;
    }
  }

  &__item6 {
    order: 7;
    @media screen and (min-width: $lg-screen) {
      grid-column: 1 / 3;
      margin-right: $m-9;
    }
  }

  &__item7 {
    @media screen and (min-width: $lg-screen) {
      order: 1;
      grid-column: 1 / 3;
      margin-left: $m-8;
    }
  }

  &__tags {
    display: flex;
    align-items: center;
    gap: $m-2;
  }
}

.projects-grid img {
  display: block;
}

.project-link {
  font-style: italic;
  font-size: 16px;
  margin-top: 4px;
  font-weight: 500;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.project-link:visited {
  color: var(--mobile-background-color);
}

.project-link:hover {
  opacity: 0.5;
}

.projects-grid__header {
  display: flex;
  align-items: center;
  gap: 32px;
}
