@use '../../variables' as *;

/***
  Button
***/
.btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.btn {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255);
  color: $white;
  font-size: 12px;
  height: 48px;
  line-height: 16px;
  width: 151px;
}

.btn--link {
  text-align: center;
  display: inline-block;
  line-height: 26.86px;
  text-decoration: none;
}