@use "../../variables" as *;

/***
  Button
***/
.btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.btn {
  background-image: none;
  background-color: transparent;
  border: 1px solid rgba(var(--text-color), 1);
  color: rgba(var(--text-color), 1);
  font-size: 12px;
  height: 48px;
  position: relative;
  line-height: 16px;
  width: 151px;
  transition: font-size 0.5s ease-in-out, border 0.5s ease-in-out, height 0.5s ease-in-out, width 0.5s ease-in-out,
    color 0.5s ease-in-out, background-color 0.5s ease-in-out, line-height 0.5s ease-in-out;
}

.btn-sm {
  background-image: none;
  background-color: transparent;
  border: 1px solid rgba(var(--text-color), 1);
  color: rgba(var(--text-color), 1);
  font-size: 8px;
  height: 24px;
  position: relative;
  line-height: 8px;
  width: 60px;
  opacity: 0;
  transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out, color 0.5s ease-in-out;
}

.btn-sm--link {
  text-align: center;
  display: inline-block;
  line-height: 24px;
  text-decoration: none;
}

.btn-sm:hover {
  background-color: rgba(var(--text-color), 1);
  border: 1px solid var(--background-color);
  color: var(--background-color);
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(var(--text-color), 1);
  border: 1px solid var(--background-color);
  color: var(--background-color);
  font-size: 16px;
  height: 58px;
  line-height: 58px;
  width: 161px;
}

.btn--link {
  text-align: center;
  display: inline-block;
  line-height: 48px;
  text-decoration: none;
}
