@use "../../variables" as *;

/***
  icons
***/
.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icons--row {
  flex-direction: row;
}

.icons--left {
  justify-content: start;
}

.icons__wrapper {
  height: 1.5rem;
  width: 1.5rem;
}

.icons__wrapper--mobile {
  margin-bottom: $m-3;
}

.icons__link {

}


.icons__icon {
  fill: rgb(var(--text-color));
  height: 100%;
  width: 100%;
  transition: 0.5s ease-in-out;
}



.icons__icon-1:hover {
  height: 125%;
  width: 125%;
  fill: $yellow;
}

.icons__icon-2:hover {
  height: 125%;
  width: 125%;
  fill: $orange;
}

.icons__icon-3:hover {
  height: 125%;
  width: 125%;
  fill: $salmon;
}