@use '../../variables' as *;


.mobile-nav-container {
  background-color: var(--mobile-background-color);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  padding: 40px 0;
  position: fixed;
  text-align: left;
  width: 100%;
  z-index: 4;
  top: 0;
  left: -10000px;
  overflow: hidden;
  height: 100vh;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $mg-300;
  }
}

.mobile-nav__item {
  list-style: none;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: $mg-300;
}

.mobile-nav__link {
  color: var(--mobile-color);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  font-size: $fs-600;
  font-weight: 500;
  padding: 2px;
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
}

.mobile-nav__link:hover {
  cursor: pointer;
}

.mobile-nav__link-1:hover {
  border-bottom-color: var(--text-color);
  color: $salmon;
}
.mobile-nav__link-2:hover {
  border-bottom-color: var(--text-color);
  color: $yellow;
}
.mobile-nav__link-3:hover {
  border-bottom-color: var(--text-color);
  color: $orange;
}
.mobile-nav__link-4:hover {
  border-bottom-color: var(--text-color);
  color: $salmon;
}

.mobile-nav-btn {
  background: transparent;
  border: none;
  width: 24px;
  padding: 0;

  @media screen and (min-width: $md-screen) {
    display: none;
  }
}

.mobile-nav-btn__icon {
  fill: var(--mobile-color);
}

.mobile-nav-btn img {
  width: 100%;
}

.mobile-nav-btn:hover {
  cursor: pointer;
}

.mobile-nav-footer {
  

  &__heading {
    color: var(--mobile-color);
  }

  &__link {
    color: var(--mobile-color);
  }

  &__icon {
    height: 40px;
    width: 40px;
    fill: var(--mobile-color);
  }

  &__cr {
    margin-top: $m-6;
    color: var(--mobile-color);
  }
}