@use "../../variables" as *;

.nav-container {
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav-container--secondary {
  justify-content: space-between;
  align-items: center;
  margin-bottom: $m-5;
}

.nav {
  display: none;

  @media screen and (min-width: $md-screen) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
  }
}

.nav__item {
  list-style: none;
  padding: 2px;
  position: relative;
}

.nav__link {
  position: relative;
  color: rgba(var(--text-color), 1);
  font-size: 1.125rem;
  padding: 0.125rem;
  text-decoration: none;
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out; /* Add opacity transition */
}

.nav__link:hover {
  color: rgba(var(--text-color), 0.6);
}

.nav__link-1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: $yellow;
  transition: width 0.2s ease; /* Adjust duration as needed */
}

.nav__link-1:hover::after {
  width: 100%;
  cursor: pointer;
}

.nav__link-3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: $salmon;
  transition: width 0.2s ease; /* Adjust duration as needed */
}

.nav__link-3:hover::after {
  width: 100%;
  cursor: pointer;
}

.nav__link-4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: $orange;
  transition: width 0.2s ease; /* Adjust duration as needed */
}

.nav__link-4:hover::after {
  width: 100%;
  cursor: pointer;
}
