@use "../../variables" as *;

.nav-container {
  display: flex;
  gap: $m-3;
  align-items: center;

}

.nav-container--secondary {
  justify-content:space-between;
  align-items: center;
  margin-bottom: $m-5;
}

.nav {
  display: none;

  @media screen and (min-width: $md-screen) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
  }
}

.nav__item {
  list-style: none;
  padding: 2px;
}

.nav__link {
  border-bottom: 1px solid transparent;
  color: var(--text-color);
  font-size: $fs-300;
  padding: 2px;
  text-decoration: none;
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
}

.nav__link:hover {
  cursor: pointer;
}

.nav__link-1:hover {
  border-bottom-color: var(--text-color);
  color: $salmon;
}
.nav__link-2:hover {
  border-bottom-color: var(--text-color);
  color: $yellow;
}
.nav__link-3:hover {
  border-bottom-color: var(--text-color);
  color: $orange;
}
.nav__link-4:hover {
  border-bottom-color: var(--text-color);
  color: $salmon;
}
