.portfolio-title {
  font-size: 15vw;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 92px; //The reason its 92px and not a multiple of 8 is to make up for the -4px margin bottom.


  @media screen and (max-width: 320px) {
    font-size: 49px;
  }

  @media screen and (min-width: 1146px) {
    font-size: 173px;
  }
}

.portfolio-title div {
  margin-bottom: -4px;
}

.section-3 {
  text-align: right;
}

.section-5 {
  margin-left: 6vw;

  @media screen and (max-width: 320px) {
    margin-left: 1.2rem;
  }

  @media screen and (min-width: 1146px) {
    margin-left: 4.3012rem;
  }
}

.char {
  margin-right: -3.8vw;

  @media screen and (max-width: 320px) {
    margin-right: -0.76rem;
  }

  @media screen and (min-width: 1146px) {
    margin-right: -2.65rem;
  }
}
