@use '../../variables' as *;

.skills {
  background: var(--mobile-background-color);
  color: var(--mobile-color);
  padding-top: clamp($m-4, 6vw, $m-9);
  padding-bottom: $m-5;
  padding-left: $m-2;

  &__heading {
    font-family: $font-family;
    font-size: $fs-3;
    font-style: normal;
    line-height: 2.75rem;
    letter-spacing: -0.5px;
    margin-bottom: clamp($m-4, 6vw, $m-9);
  }

  &__wrapper {
    margin-bottom: clamp($m-4, 5vw, $m-9);

    @media screen and (min-width: $md-screen) {
      display: flex;
      gap: 15%;
    }
  }

  &__wrapper ul {

  }

  &__title {
    margin-bottom: clamp($m-2, 2vw, $m-4);

    @media screen and (min-width: $md-screen) {
      width: 30%;

    }
  }

  &__item {
    margin-bottom: $m-0;
    opacity: 0.7;

    @media screen and (min-width: $md-screen) {
      margin-top: clamp($m-1, 1vw, $m-3);
    }


  }
}