@use "../../variables" as *;


.text {
  color: rgb(var(--text-color));
  font-family: $font-family;
  font-size: $fs-2;
  line-height: calc(($fs-2 + 4px) / $fs-2);
}

.text--responsive {
  font-size: clamp($fs-2, 3vw, 25px);
  max-width: 300px;
  
  @media screen and (min-width: $md-screen) {
    max-width: 600px;
    
  }
}

.text--link {
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s ease-in-out;
}

.text--link:hover {
  border-bottom: 1px solid rgb(var(--text-color));
  cursor: pointer;
}

.text--light {
  opacity: 0.7;
}

.text--bold {
  font-weight: 700;
}

.text--italic {
  font-style: italic;
}

.label {
  font-family: $font-family;
  font-size: $fs-1;
  line-height: calc(($fs-1 / 16px));
}


.h1 {
  color: rgb(var(--text-color));
  font-family: $font-family;
  font-size: $fs-4;
  font-style: normal;
  font-weight: 700;
  line-height: calc($fs-700 / 44px);
  max-width: 600px;
}

.h1--responsive {
  font-size: clamp($fs-4, 5vw, 60px);
}

.h2 {
  color: rgb(var(--text-color));
  font-family: $font-family;
  font-size: $fs-3;
  font-style: normal;
  line-height: 2.75rem;
  letter-spacing: -0.5px;
}

.h2--responsive {
  font-size: clamp($fs-3, 4vw, 50px);
}

.h3 {
  color: rgb(var(--text-color));
  font-family: $font-family;
  font-size: $fs-2;
  font-style: normal;
  font-weight: 400;
  line-height: 2.75rem;
}

.h3--responsive {
  font-size: clamp($fs-2, 3vw, 40px);

}


.color-light {
  color: rgb(var(--text-color));
}

.color-dark {
  color: var(--background-color);
}

.color-salmon {
  color: $salmon;
}

.color-mustard {
  color: $yellow;
}

.color-orange {
  color: $orange;
}
