@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");
.loading-animation {
  height: 100vh;
  width: 100vw;
}

#load {
  position: absolute;
  width: 600px;
  height: 36px;
  left: 50%;
  top: 40%;
  margin-left: -300px;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#load div {
  position: absolute;
  width: 20px;
  height: 36px;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif;
  animation: move 2s linear infinite;
  -o-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color: #35C4F0;
}

#load div:nth-child(2) {
  animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

#load div:nth-child(3) {
  animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

#load div:nth-child(4) {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

#load div:nth-child(5) {
  animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}

#load div:nth-child(6) {
  animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

#load div:nth-child(7) {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}
@-moz-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}
@-webkit-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}
@-o-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}
.hamburger {
  position: relative;
  height: 30px;
  width: 30px;
  transition: transform 0.4s ease-in-out;
}

.hamburger div {
  width: 100%;
  height: 3px;
  background: #fff;
}
.hamburger div:before, .hamburger div:after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  position: absolute;
  background: #fff;
}
.hamburger div:before {
  top: -12px;
  transition: width 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.hamburger div:after {
  top: 12px;
  transition: transform 0.4s ease-in-out;
}

.hamburger.open {
  transform: rotate(45deg);
  transition-delay: 0.2s;
}
.hamburger.open div:before {
  width: 0;
}
.hamburger.open div:after {
  transform: rotate(-450deg) translateX(12px);
}

/*
  This stylesheet will be focused on animation classes
*/
/*
 List of Keyframes
*/
@keyframes slide-in-right {
  0% {
    right: -100px;
  }
  100% {
    right: 0;
  }
}
@keyframes slide-out-right {
  0% {
    right: 0;
  }
  100% {
    right: -1000px;
  }
}
@keyframes slide-in-left {
  0% {
    left: -150px;
  }
  100% {
    left: 0;
  }
}
@keyframes slide-out-left {
  0% {
    left: 0;
  }
  100% {
    left: -150px;
  }
}
.slide-in-right {
  animation-name: slide-in-right;
  animation-duration: 0.1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.slide-out-right {
  animation-name: slide-out-right;
  animation-duration: 0.1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.slide-in-left {
  animation-name: slide-in-left;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.slide-out-left {
  animation-name: slide-out-left;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

:root {
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
  font-family: "Open Sans", sans-serif;
  min-width: 20rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

span {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 87.2%;
}

.container--sm {
  width: 70%;
}

.container--lg {
  width: 90%;
}

.internationalization {
  font-size: 0.75rem;
}

.header {
  margin-bottom: 120px;
}

.main {
  margin-bottom: 120px;
}

/***
  TABLE OF CONTENTS
  1. Mobile Navigation
  1. Icons
  1. NAVIGATION
  2. HEADER
  3. SKILLS
  4. PROJECTS
  5. Contact
  6. FORM
***/
/***
  Mobile Navigation
***/
.mobile-nav-container-js {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: fixed;
  text-align: center;
  width: 125px;
  z-index: 3;
  top: 0;
  left: -1000px;
  overflow: hidden;
  min-height: 100vh;
}

.mobile-nav__item {
  list-style: none;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 30px;
}

.mobile-nav__link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

/***
  icons
***/
.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icons__icon {
  margin-bottom: 10px;
}

/***
  Navigation
***/
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 20px;
}

.mobile-nav-btn {
  background: transparent;
  border: none;
  height: 30px;
  width: 30px;
  padding: 0;
}

.mobile-nav-btn img {
  width: 100%;
}

.mobile-nav-btn:hover {
  cursor: pointer;
}

/***
  Header
***/
.portfolio-title {
  font-size: 15vw;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 60px;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .portfolio-title {
    font-size: 10vw;
    line-height: 1;
  }
}

@media (min-width: 992px) {
  .portfolio-title br:nth-of-type(2) {
    display: none;
  }
}

@media (min-width: 992px) {
  .developer {
    margin-left: 10vw;
  }
}

.by {
  margin-left: 66vw;
}
@media (min-width: 992px) {
  .by {
    margin-left: 0vw;
  }
}

.legoff {
  margin-left: 5vw;
}
@media (min-width: 992px) {
  .legoff {
    margin-left: 15vw;
  }
}

.primary-char-color {
  color: #DDA091;
}

.secondary-char-color {
  color: #E5E37E;
}

.tertiary-char-color {
  color: #EA4F20;
}

.span-text-spacing {
  margin: 0 -4.6vw;
}
@media (min-width: 992px) {
  .span-text-spacing {
    margin: 0 -3vw;
  }
}

.intro-title {
  margin-bottom: 10px;
}

.intro-subtitle {
  font-style: italic;
  margin-bottom: 10px;
}

.intro-text {
  font-size: 14px;
  opacity: 75%;
  margin-bottom: 10px;
}

/***
  Skills
***/
.skills {
  margin-bottom: 120px;
  text-align: center;
  text-transform: uppercase;
}

.skills__heading {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.skills__heading--1::first-letter {
  color: #DDA091;
}

.skills__heading--2::first-letter {
  color: #E5E37E;
}

.skills__heading--3::first-letter {
  color: #EA4F20;
}

.skills__frontend {
  color: #DDA091;
  margin: 0 auto;
  width: 90%;
}

.skills__backend {
  color: #E5E37E;
  margin: 0 auto;
  width: 90%;
}

.skills__devops {
  color: #EA4F20;
  margin: 0 auto;
  width: 90%;
}

/***
  PROJECTS
***/
.grid-wrapper {
  margin: 50px auto;
  background: #fff;
  max-width: 800px;
  box-shadow: 0px 25px 30px -20px rgba(0, 0, 0, 0.2);
}

.grid {
  margin: 0 auto;
  display: grid;
  width: 279px;
}
@media screen and (min-width: 608px) {
  .grid {
    width: 423.5px;
  }
}
@media screen and (min-width: 752.5px) {
  .grid {
    width: 568px;
  }
}

.grid-item {
  margin-bottom: 10px;
  width: 134.5px;
}

.grid-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/***
  Contact
***/
.contact {
  margin-bottom: 30px;
}

.contact__heading {
  font-size: 14px;
  margin-bottom: 5px;
}

.contact__text {
  font-size: 12px;
}

/***
  FORM
***/
.form {
  padding-bottom: 60px;
}

.form__label {
  font-size: 12px;
}

.form__input {
  border: none;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
  background: transparent;
  width: 30%;
}

.form__input--company {
  width: 33%;
}

.form__input--project-idea {
  width: 50%;
}

.form__input--email {
  width: 58%;
}

.form__input::placeholder {
  font-size: 6px;
}

/***
  Button
***/
.btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.btn {
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  color: #ffffff;
  font-size: 8px;
  height: 26.86px;
  width: 93.1px;
}

.btn--link {
  text-align: center;
  display: inline-block;
  line-height: 26.86px;
  text-decoration: none;
}

.acc-block {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

ul {
  padding: 0;
}

ul li {
  padding: 4px 0;
  list-style: none;
  font-size: 26px;
}

li:first-child {
  padding-top: 40px;
}

li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 40px;
}

@media (max-width: 900px) {
  .acc-block {
    font-size: 20px;
    padding: 10px;
  }
  ul li {
    font-size: 20px;
  }
  li:first-child {
    padding-top: 10px;
  }
  li:last-child {
    padding-bottom: 10px;
  }
}
[data-collapsible] {
  cursor: pointer;
}

.heightZero {
  height: 0px;
}

/*# sourceMappingURL=main.css.map */
