<%- include('../partials/head') %>

<%- include('../partials/mobileNavigation.ejs') %>
<body id="body" class="body-js light-theme">

<div class="container">
  <%- include('../partials/navigation.ejs') %>

  <h1> 
    About
  </h1>

  <div class="container container--sm intro-gsap">
    <p id="about" class="text text--bold mb-2">Prologue,</p>

    <p id=about class="text text--italic mb-2"> A little about me </p>

    <p class="text op-75 mb-2">
      Developer and designer based in Montreal, Canada. I specialize in frontend development and design.
      From concept to creation, I'm always thinking about how users will interact with the products I create.
      My passion lies in crafting intuitive and visually appealing user interfaces that not only captivate users'
      attention but also seamlessly guide them through the digital experience,
      ensuring a delightful journey from start to finish.
    </p>

    <p class="text op-75 mb-2">
      As a formally educated business graduate, I bring an important business perspective to the world of design
      and development. My business background allows me to understand the clients' needs, align design choices with
      their goals, and effectively communicate project outcomes in a language that resonates with stakeholders. My
      business philosophy is simple<em>"Build what users want. Do it quickly, and do it often."</em>
    </p>

    <p class="text op-75 mb-2">
      Collaboration is the cornerstone of any worthwhile endeavour. I truly enjoy learning from others and working
      with people who are passionate about what they do. Steve jobs said <em> "Greats things in business are never
        done by one person, they're done by a team of people". </em>
      Through collaboration, I believe that we can leverage diverse perspectives and expertise to push the
      boundaries of creativity and innovation.
    </p>

    <p class="text op-75 mb-2">Let's build something amazing together!</p>

    <p class="text text--italic mb-2">A little bit more</p>

    <p class="text op-75">
      In my spare time I play guitar, attend comedy shows, go camping and hiking, and spend time with loved loves.
    </p>
  </div>


</body>
<%- include('../partials/end') %>