<%- include('../partials/head') %>

<%- include('../partials/mobileNavigation.ejs') %>

<div class="container">
  <%- include('../partials/navigation.ejs') %>

  <h1> 
    Contact
  </h1>

</body>
<%- include('../partials/end') %>