<%- include('../partials/head') %>

<%- include('../partials/mobileNavigation.ejs') %>

<div class="container">
  <%- include('../partials/navigation.ejs') %>

  <h1> 
    Let's Talk
  </h1>
  <p>
    I'd love to learn more about you and what we can design and build together.
  </p>
  

</body>
<%- include('../partials/end') %>