<%- include('../partials/head') %>

  <body id="body" class="body-js light-theme">
    <!-- Loading Animation -->
    <div class="loading-animation">
      <div id="load">
        <div>G</div>
        <div class="color-mustard">N</div>
        <div>I</div>
        <div class="color-salmon">D</div>
        <div>A</div>
        <div>O</div>
        <div class="color-orange">L</div>
      </div>
    </div>


      <!-- Mobile Navigation -->
      <%- include('../partials/mobileNavigation') %>

        <div class="container">
          <header id="header" class="header">
            <!-- Main Navigation -->
            <%- include('../partials/navigation') %>

              <div class="portfolio-title">
                <div class="section-1">
                  <span class="char">D</span>
                  <span class="char">E</span>
                  <span class="char">S</span>
                  <span class="char">I</span>
                  <span id="g" class="char color-salmon">G</span>
                  <span class="char">N</span>
                  <span class="char">E</span>
                  <span class="char">R</span>
                </div>

                <div class="section-2">
                  <span class="char">D</span>
                  <span class="char">E</span>
                  <span class="char">V</span>
                  <span class="char">E</span>
                  <span class="char">L</span>
                  <span class="char">O</span>
                  <span class="char">P</span>
                  <span class="char">E</span>
                  <span>R</span>
                </div>

                <div class="section-3">
                  <span class="char color-mustard">B</span>
                  <span>Y</span>
                </div>

                <div class="section-4">
                  <span class="char">J</span>
                  <span id="a" class="char">A</span>
                  <span class="char">M</span>
                  <span class="char">E</span>
                  <span class="char">S</span>
                </div>

                <div class="section-5">
                  <span class="char">L</span>
                  <span class="char">E</span>
                  <span class="char">-</span>
                  <span class="char">G</span>
                  <span class="char">O</span>
                  <span class="char">F</span>
                  <span id="f" class="char color-orange">F</span>
                </div>
              </div>
          </header>
        </div>
  </body>




  <%- include('../partials/end') %>