<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> JAMES.DEVELOPER </title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>

  <header>
    <h1>
      designer developer by james le-goff
    </h1>

    <p> My portfolio, <br>
      A little story about me <br>
    </p>

    <p>
      I've always had a knack for the arts and problem solving. Think of me as a magician, but instead of rabbits and
      top
      hats, I conjure up beautiful and functioning user interfaces that'll make you go "ooh" and "ahh." And no, I don't
      have a wand, but I do have a trusty keyboard and a bottomless cup of coffee.

      My mind is like a creative playground, constantly buzzing with new ideas and innovative solutions. I believe in
      combining aesthetics with usability, making sure every button and every interaction brings a smile to your face.
      Because let's face it, life's too short for boring interfaces!

      But don't let my creative flair fool you – I'm also a master of discipline. Deadlines are my best friends, and I
      can
      juggle multiple projects with the finesse of a circus performer. I've got the time management skills of a
      professional tightrope walker, ensuring that every project is delivered on time and on point.

      So, if you're ready to embark on a journey of pixels, laughter, and beautiful user experiences, I'm your go-to
      person. Let's build something extraordinary together, one line of code and one witty remark at a time. Let's make
      the digital world a more engaging space!
    </p>
  </header>

  <main>
    <div>
      <section class="frontend-cloud">
        <h2> frontend </h2>
      </section>
      <section class="backend-cloud">
        <h2> backend </h2>
      </section>
      <section class="devops-cloud">
        <h2> devops </h2>
      </section>
    </div>

    <div>
      <a href="">
        <img src="/assets/shared/devfinder-thumbnail.svg" alt="">
      </a>

      <a href="">
        <img src="/assets/shared/designo-thumbnail.svg" alt="">
      </a>

      <a href="">
        <img src="/assets/shared/image-gallery-orange.svg" alt="">
      </a>

      <a href="">
        <img src="/assets/shared/image-glass-and-keyboard.svg" alt="">
      </a>

      <a href="">
        <img src="/assets/shared/payapi-thumbnail.svg" alt="">
      </a>

      <a href="">
        <img src="/assets/shared/splitter-thumbnail.svg" alt="">
      </a>
    </div>
  </main>

  <div>
    <h3>
      Ready to build something amazing?
    </h3>
    <p> 
      fill out the form or click the "Say Hi" button
    </p>

    <form action="">
      <label for="">
        My name is <input type="text" placeholder="your name">
      </label>
      <label for="">
        From <input type="text" placeholder="Company name or website">
      </label>
      <label for="">
        I'd like to discuss project <input type="text" placeholder="Describe your project idea (optional)" >
      </label>
      <label for="">
        You can reach me at <input type="text" placeholder="provide here" >
      </label>
    </form>
  </div>

</body>
<script src="bundle.js"></script>

</html>