<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> JAMES.DEVELOPER </title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <!-- Loading Animation -->
  <!-- <div class="loading-animation">
    <div id="load">
      <div>G</div>
      <div>N</div>
      <div>I</div>
      <div>D</div>
      <div>A</div>
      <div>O</div>
      <div>L</div>
    </div>
  </div> -->

  <!-- Mobile Navigation -->
  <nav class="mobile-nav-container">
    <button id="close-nav" class="mobile-nav-btn">
      <img src="/assets/shared/close.png" alt="mobile close button">
    </button>
    <ul class="mobile-nav">
      <li class="mobile-nav__item">
        <a class="mobile-nav__link" href="#about"> About </a>
      </li>
      <li class="mobile-nav__item">
        <a class="mobile-nav__link" href="#skills-section"> Skills </a>
      </li>
      <li class="mobile-nav__item">
        <a class="mobile-nav__link" href="#projects"> Projects </a>
      </li>
      <li class="mobile-nav__item">
        <a class="mobile-nav__link" href="#contact-section"> Contact </a>
      </li>
    </ul>

    <div class="icons" >
      <a class="icons__icon" href="">
        <img src="assets/shared/twitter-logo-negative.svg" alt="">
      </a> 

      <a class="icons__icon" href="">
        <img src="assets/shared/google-logo-negative.svg" alt="">
      </a> 

      <a class="icons__icon" href="">
        <img src="assets/shared/github-logo-negative.svg" alt="">
      </a> 

      <a class="icons__icon" href="">
        <img src="assets/shared/medium-logo-negative.svg" alt="">
      </a> 
    </div>
  </nav>


  <div class="container">
    <div>
      <nav class="nav-container">
        <button id="open-nav" class="mobile-nav-btn">
          <img src="/assets/shared/mobile-menu-button.svg" alt="mobile menu">
        </button>
        <span class="internationalization">
          EN
        </span>
      </nav>
    </div>

    <header class="header">
      <h1 class="portfolio-title">
        <span>
          de
          <span class="primary-char-color span-text-spacing">
            s
          </span>
          igner
        </span> <br>
        <span class="developer">
          develo
          <span class="secondary-char-color span-text-spacing">
            p
          </span>
          er
        </span> <br>
        <span class="by">
          by
        </span> <br>
        <span>
          james
        </span> <br>
        <span class="legoff">
          l
          <span class="tertiary-char-color span-text-spacing">
            e
          </span>
          -goff
        </span>
      </h1>


      <div class="container container--sm">
        <p id="about" class="intro-title">
          Prologue,
        </p>

        <p class="intro-subtitle">
          A little about me
        </p>

        <p class="intro-text">
          I've always had a knack for the arts and problem solving. Think of me as a magician, but instead of rabbits
          and
          top
          hats, I conjure up beautiful and functioning user interfaces that'll make you go "ooh" and "ahh." And no, I
          don't
          have a wand, but I do have a trusty keyboard and a bottomless cup of coffee.
        </p>

        <p class="intro-text">
          My mind is like a creative playground, constantly buzzing with new ideas and innovative solutions. I believe
          in
          combining aesthetics with usability, making sure every button and every interaction brings a smile to your
          face.
          Because let's face it, life's too short for boring interfaces!
        </p>

        <p class="intro-text">
          But don't let my creative flair fool you – I'm also a master of discipline. Deadlines are my best friends, and
          I
          can
          juggle multiple projects with the finesse of a circus performer. I've got the time management skills of a
          professional tightrope walker, ensuring that every project is delivered on time and on point.
        </p>

        <p class="intro-text">
          So, if you're ready to embark on a journey of pixels, laughter, and beautiful user experiences, I'm your go-to
          person. Let's build something extraordinary together, one line of code and one witty remark at a time. Let's
          make
          the digital world a more engaging space!
        </p>
      </div>
    </header>

    <main class="main">
      <div id="skills-section" class="skills">
        <section class="frontend-cloud">
          <h2 class="skills__heading skills__heading--1"> frontend </h2>
        </section>
        <section class="backend-cloud">
          <h2 class="skills__heading skills__heading--2"> backend </h2>
        </section>
        <section class="devops-cloud">
          <h2 class="skills__heading skills__heading--3"> devops </h2>
        </section>
      </div>

      <div id="projects" class="grid">
        <a class="grid-item grid-item1" href="">
          <img src="/assets/shared/devfinder-thumbnail.svg" alt="">
        </a>

        <a class="grid-item grid-item2" href="">
          <img src="/assets/shared/designo-thumbnail.svg" alt="">
        </a>

        <a class="grid-item grid-item3" href="">
          <img src="/assets/shared/image-gallery-orange.svg" alt="">
        </a>

        <a class="grid-item grid-item4" href="">
          <img src="/assets/shared/image-glass-and-keyboard.svg" alt="">
        </a>

        <a class="grid-item grid-item5" href="">
          <img src="/assets/shared/payapi-thumbnail.svg" alt="">
        </a>

        <a class="grid-item grid-item6" href="">
          <img src="/assets/shared/splitter-thumbnail.svg" alt="">
        </a>
      </div>
    </main>

    <div id="contact-section">
      <section class="contact">
        <h3 class="contact__heading">
          Ready to build something amazing?
        </h3>
        <p class="contact__text">
          Fill out the form or click "Say Hi" to get in touch.
        </p>
      </section>

      <form class="form" action="">
        <label class="form__label form__label--name" for="">
          My name is <input class="form__input" type="text" placeholder="Enter your name">
        </label>

        <label class="form__label form__label--company" for="">
          From <input class="form__input form__input--company" type="text" placeholder="Company name or website">
        </label> <br>

        <label class="form__label" for="">
          I'd like to discuss project <input class="form__input form__input--project-idea" type="text"
            placeholder="Describe your project idea (optional)">
        </label> <br>
        
        <div>
          <label class="form__label" for=""> You can reach me at </label>
          <input class="form__input form__input--email" type="text" placeholder="Provide email here">
        </div>


        <div class="btn-container">
          <a class="btn btn--link" href=""> Say Hi! </a>
          <button class="btn" type="submit"> Send Inquiry </button>
        </div>
      </form>
    </div>
  </div>



</body>
<script src="bundle.js"></script>

</html>