<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1    " />
  <title>JAMES.DEVELOPER</title>
  <link rel="stylesheet" href="css/main.css" />
</head>

<body id="body" class="body-js">
  <!-- Loading Animation -->
  <!-- <div class="loading-animation">
    <div id="load">
      <div>G</div>
      <div>N</div>
      <div>I</div>
      <div>D</div>
      <div>A</div>
      <div>O</div>
      <div>L</div> 
    </div>
  </div> -->

  <!-- Mobile Navigation -->
  <nav class="mobile-nav-container-js">
    <button id="" class="mobile-nav-btn close-nav-js">
      <img src="/assets/shared/close.png" alt="mobile close button" />
    </button>
    <ul class="mobile-nav">
      <li class="mobile-nav__item">
        <a class="mobile-nav__link mobile-nav__link-1" href="#about">About</a>
      </li>
      <li class="mobile-nav__item">
        <a class="mobile-nav__link mobile-nav__link-2" href="#skills-section">Skills</a>
      </li>
      <li class="mobile-nav__item">
        <a class="mobile-nav__link mobile-nav__link-3" href="#projects">Projects</a>
      </li>
      <li class="mobile-nav__item">
        <a class="mobile-nav__link mobile-nav__link-4" href="#contact-section">Contact</a>
      </li>
    </ul>

    <div class="icons">
      <a class="icons__icon" href="https://twitter.com/jameslegoff" target="_blank">
        <img src="assets/shared/twitter-logo-negative.svg" alt="" />
      </a>

      <a class="icons__icon" href="mailto:jameslegoff92@gmail.com" target="_blank">
        <img src="assets/shared/google-logo-negative.svg" alt="" />
      </a>

      <a class="icons__icon" href="https://github.com/jameslegoff92" target="_blank">
        <img src="assets/shared/github-logo-negative.svg" alt="" />
      </a>

      <a class="icons__icon" href="https://medium.com/@jameslegoff92" target="_blank">
        <img src="assets/shared/medium-logo-negative.svg" alt="" />
      </a>
    </div>
  </nav>

  <div class="container">
    <header id="header" class="header">
      <!-- Main Navigation -->
      <nav class="nav-container">
        <button id="" class="mobile-nav-btn open-nav-js">
          <img src="/assets/shared/mobile-menu-button.svg" alt="mobile menu" />
        </button>

        <ul class="nav">
          <li class="nav__item">
            <a class="nav__link nav__link-1" href="#about">About</a>
          </li>
          <li class="nav__item">
            <a class="nav__link nav__link-2" href="#skills-section">Skills</a>
          </li>
          <li class="nav__item">
            <a class="nav__link nav__link-3" href="#projects">Projects</a>
          </li>
          <li class="nav__item">
            <a class="nav__link nav__link-4" href="#contact-section">Contact</a>
          </li>
        </ul>

        <span class="internationalization">EN</span>
      </nav>

      <div class="portfolio-title">
        <div class="section-1">
          <span class="char">D</span>
          <span class="char">E</span>
          <span class="char">S</span>
          <span class="char">I</span>
          <span id="g" class="char color-salmon">G</span>
          <span class="char">N</span>
          <span class="char">E</span>
          <span class="char">R</span>
        </div>

        <div class="section-2">
          <span class="char">D</span>
          <span class="char">E</span>
          <span class="char">V</span>
          <span class="char">E</span>
          <span class="char">L</span>
          <span class="char">O</span>
          <span class="char">P</span>
          <span class="char">E</span>
          <span>R</span>
        </div>

        <div class="section-3">
          <span class="char color-mustard">B</span>
          <span>Y</span>
        </div>

        <div class="section-4">
          <span class="char">J</span>
          <span id="a" class="char">A</span>
          <span class="char">M</span>
          <span class="char">E</span>
          <span class="char">S</span>
        </div>

        <div class="section-5">
          <span class="char">L</span>
          <span class="char">E</span>
          <span class="char">-</span>
          <span class="char">G</span>
          <span class="char">O</span>
          <span class="char">F</span>
          <span id="f" class="char color-orange">F</span>
        </div>
      </div>

      <div class="container container--sm">
        <p id="about" class="text text--bold mb-2">My prologue,</p>

        <p class="text text--italic mb-2">A little about me</p>

        <p class="text op-75 mb-2">
          Developer and designer based in Montreal, Canada. I specialize in frontend development and design but have a
          passion for the entire product development lifecycle. From concept to creation, I'm always thinking about
          how users will interact with the products I create.
        </p>

        <p class="text op-75 mb-2">
          As a formally educated business graduate, I bring an important business perspective to the world of design
          and development. I'm a firm believer in user-centered design and agile development. My philoshophy is
          simple:
          <em>"Build what users want. Do it quickly, and do it often."</em>
        </p>

        <p class="text op-75 mb-2">
          In a fast changing world, where technology is constantly evolving it is impossible to know everything.
          Collaboration is the cornerstone of any worthwhile endeavour. I truly enjoy learning from others and working
          with people who are passionate about what they do.
          <em>The whole is greater than the sum of its parts</em>
          and this is especially true in the world of design and development.
        </p>

        <p class="text op-75 mb-2">Let's build something amazing together!</p>

        <p class="text text--italic mb-2">A little bit more</p>

        <p class="text op-75">
          In my spare time I enjoy listening to music, attending comedy shows, exploring the great outdoors, being
          active and spending time with loved loves.
        </p>
      </div>
    </header>

    <main class="main">
      <div id="skills-section">
        <div class="h2 mb-3 u-text-center">
          <span>S</span>
          <span>K</span>
          <span>I</span>
          <span>L</span>
          <span>L</span>
          <span>S</span>
        </div>

        <div class="skills">
          <div>
            <div class="" data-collapse="">
              <div class="skill">
                <div class="skill__heading skill__heading--1">Frontend</div>
              </div>
            </div>
            <ul>
              <section class="frontend-cloud u-text-center"></section>
            </ul>
          </div>

          <div>
            <div class="" data-collapse="">
              <div class="skill u-text-center">
                <div class="skill__heading skill__heading--2">Backend</div>
              </div>
            </div>
            <ul>
              <section class="backend-cloud"></section>
            </ul>
          </div>

          <div>
            <div class="" data-collapse="">
              <div class="skill">
                <div class="skill__heading skill__heading--3">Devops</div>
              </div>
            </div>
            <ul>
              <section class="devops-cloud"></section>
            </ul>
          </div>
        </div>
      </div>

      <div>
        <div id="projects" class="h2 u-text-center mb-6">
          <span>P</span>
          <span>R</span>
          <span>O</span>
          <span>J</span>
          <span>E</span>
          <span>C</span>
          <span>T</span>
          <span>S</span>
        </div>
      </div>

      <div id="projects" class="grid grid">
        <a class="grid-item grid-item1" href="https://jameslegoff92.github.io/github-userseach-app/" target="_blank">
          <img src="/assets/shared/devfinder-thumbnail.svg" alt="" />
        </a>

        <a class="grid-item grid-item2" href="https://designoo.herokuapp.com/" target="_blank">
          <img src="/assets/shared/designo-thumbnail.svg" alt="" />
        </a>

        <a class="grid-item grid-item5" href="http://payapi.herokuapp.com/" target="_blank">
          <img src="/assets/shared/payapi-thumbnail.svg" alt="" />
        </a>

        <a class="grid-item grid-item6" href="https://jameslegoff92.github.io/tip-calculator-app/" target="_blank">
          <img src="/assets/shared/splitter-thumbnail.svg" alt="" />
        </a>

        <a class="grid-item grid-item3" href="https://jameslegoff92.github.io/Sunny-landing-page/" target="_blank">
          <img src="/assets/shared/image-gallery-orange.svg" alt="" />
        </a>

        <a class="grid-item grid-item4" href="https://jameslegoff92.github.io/typemaster-landing-page/" target="_blank">
          <img src="/assets/shared/image-glass-and-keyboard.svg" alt="" />
        </a>
      </div>
    </main>

    <div id="contact-section" class="mb-6">
      <section class="contact u-text-center">
        <h3 class="contact__heading"> Ready to build something amazing? Let's start now! </h3>
      </section>

      <!-- <form id="form" class="form">
          <div class="form__wrapper">
            <div class="form__container">
              <p class="form__text">My name is</p>
              <label class="form__label" for=""></label>
              <input class="form__input" type="text" name="name" placeholder="Enter your name" autocomplete="off"/>
            </div>

            <div class="form__container">
              <p class="form__text">From</p>
              <label class="form__label" for=""></label>
              <input class="form__input form__input--company" name="company" type="text" placeholder="Company name or website" autocomplete="off"/>
            </div>
          </div>

          <div class="form__container">
            <p class="form__text">I'd like to discuss project</p>
            <label class="form__label" for=""></label>
            <input
              class="form__input form__input--project-idea"
              name="project"
              type="text"
              placeholder="Describe your project idea (optional)"
              autocomplete="off"
            />
          </div>

          <div class="mb-6">
            <p class="form__text">You can reach me at</p>
            <label class="form__label" for=""></label>
            <input class="form__input form__input--email" name="email" type="text" placeholder="Provide email here" autocomplete="off"/>
          </div>
        </form> -->

      <div class="btn-container">
        <a class="btn btn--link" href="mailto:jameslegoff92@gmail.com"> Say Hi! </a>
      </div>
    </div>

    <div class="icons icons--row">
      <a class="icons__icon" href="https://twitter.com/jameslegoff" target="_blank">
        <img src="assets/shared/twitter-logo-negative.svg" alt="" />
      </a>

      <a class="icons__icon" href="mailto:jameslegoff92@gmail.com" target="_blank">
        <img src="assets/shared/google-logo-negative.svg" alt="" />
      </a>

      <a class="icons__icon" href="https://github.com/jameslegoff92" target="_blank">
        <img src="assets/shared/github-logo-negative.svg" alt="" />
      </a>

      <a class="icons__icon" href="https://medium.com/@jameslegoff92" target="_blank">
        <img src="assets/shared/medium-logo-negative.svg" alt="" />
      </a>
    </div>

    <div class="u-text-center">
      <a href="#body" class="text"> Return to top </a>
    </div>
  </div>
</body>
<script src="bundle.js">
</script>

</html>