<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1    " />
  <title> JAMES LE-GOFF </title>
  <link rel="stylesheet" href="css/main.css" />
</head>

<body id="body" class="body-js">
  <!-- Loading Animation -->
  <div class="loading-animation">
    <div id="load">
      <div>G</div>
      <div class="color-mustard">N</div>
      <div>I</div>
      <div class="color-salmon">D</div>
      <div>A</div>
      <div>O</div>
      <div class="color-orange">L</div>
    </div>
  </div>

  <!-- Mobile Navigation -->
  <nav class="mobile-nav-container-js">
    <button id="" class="mobile-nav-btn close-nav-js">
      <img src="/assets/shared/close.png" alt="mobile close button" />
    </button>
    <ul class="mobile-nav">
      <li class="mobile-nav__item">
        <a class="mobile-nav__link mobile-nav__link-1" href="#about">About</a>
      </li>
      <li class="mobile-nav__item">
        <a class="mobile-nav__link mobile-nav__link-2" href="#skills-section">Skills</a>
      </li>
      <li class="mobile-nav__item">
        <a class="mobile-nav__link mobile-nav__link-3" href="#projects">Projects</a>
      </li>
      <li class="mobile-nav__item">
        <a class="mobile-nav__link mobile-nav__link-4" href="#contact-section">Contact</a>
      </li>
    </ul>

    <div class="icons">
      <div class="icons__wrapper icons__wrapper--mobile">
        <a class="icons__link" href="https://twitter.com/jameslegoff" target="_blank">
          <svg class="icons__icon icons__icon-1" width="21" height="21" viewBox="0 0 21 21"
            xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_131_105)">
              <path
                d="M6.58747 18.9768C14.4874 18.9768 18.8095 12.4302 18.8095 6.75478C18.8095 6.57073 18.8054 6.3826 18.7972 6.19856C19.638 5.59052 20.3636 4.83738 20.9399 3.97452C20.1568 4.32291 19.3254 4.55044 18.4741 4.64934C19.3705 4.11203 20.0417 3.26795 20.3632 2.27356C19.5199 2.77332 18.5977 3.12586 17.6361 3.31606C16.9882 2.62762 16.1315 2.17179 15.1986 2.01904C14.2656 1.8663 13.3083 2.02515 12.4747 2.47104C11.6411 2.91692 10.9775 3.625 10.5867 4.48581C10.1959 5.34662 10.0995 6.31221 10.3125 7.23328C8.60497 7.1476 6.93453 6.70403 5.40945 5.93135C3.88437 5.15866 2.53869 4.0741 1.45966 2.74798C0.911232 3.69353 0.743414 4.81242 0.990308 5.87725C1.2372 6.94208 1.88028 7.87295 2.78885 8.48068C2.10675 8.45902 1.43959 8.27537 0.842502 7.94491V7.99808C0.841891 8.99036 1.18493 9.95223 1.81331 10.7202C2.44169 11.4881 3.31663 12.0148 4.2894 12.2106C3.65754 12.3835 2.99438 12.4087 2.35123 12.2842C2.62573 13.1376 3.1598 13.8839 3.87891 14.4192C4.59802 14.9544 5.46628 15.2518 6.36253 15.2698C4.84097 16.465 2.9614 17.1133 1.02654 17.1102C0.683413 17.1097 0.340621 17.0886 0 17.0472C1.9656 18.3082 4.25213 18.978 6.58747 18.9768Z" />
            </g>
            <defs>
              <clipPath id="clip0_131_105">
                <rect width="20.9399" height="20.9399" />
              </clipPath>
            </defs>
          </svg>
        </a>
      </div>

      <div class="icons__wrapper icons__wrapper--mobile">
        <a class="icons__link" href="mailto:jameslegoff92@gmail.com" target="_blank">
          <svg class="icons__icon icons__icon-2" width="21" height="22" viewBox="0 0 21 22" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_131_107)">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M14.6957 6.39966C13.6147 5.36864 12.172 4.80696 10.6793 4.83004C7.94787 4.83004 5.62807 6.67279 4.80093 9.15417C4.36236 10.4545 4.36236 11.8626 4.80093 13.1629H4.80477C5.63574 15.6405 7.95171 17.4832 10.6832 17.4832C12.0931 17.4832 13.3036 17.1226 14.2418 16.4856V16.483C15.3459 15.752 16.0999 14.6018 16.3346 13.3014H10.6793V9.26965H20.5549C20.678 9.96982 20.7357 10.6854 20.7357 11.3971C20.7357 14.5816 19.5976 17.2739 17.6174 19.0974L17.6195 19.099C15.8845 20.6994 13.5031 21.6266 10.6793 21.6266C6.72063 21.6266 3.10049 19.3952 1.32313 15.8597C-0.16185 12.9013 -0.161847 9.41582 1.32314 6.4574C3.1005 2.91805 6.72063 0.686695 10.6793 0.686695C13.28 0.655918 15.7921 1.63309 17.6849 3.41045L14.6957 6.39966Z" />
            </g>
            <defs>
              <clipPath id="clip0_131_107">
                <rect width="20.9399" height="20.9399" transform="translate(0 0.686714)" />
              </clipPath>
            </defs>
          </svg>
        </a>
      </div>

      <div class="icons__wrapper icons__wrapper--mobile">
        <a class="icons__link" href="https://github.com/jameslegoff92" target="_blank">
          <svg class="icons__icon icons__icon-3" width="21" height="22" viewBox="0 0 21 22" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_131_109)">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M10.4702 0.809677C7.98462 0.810967 5.58058 1.6913 3.68791 3.29325C1.79525 4.89521 0.537368 7.11433 0.139198 9.55381C-0.258973 11.9933 0.228526 14.4941 1.51453 16.609C2.80054 18.7238 4.80119 20.3149 7.15875 21.0978C7.67886 21.1943 7.87477 20.8719 7.87477 20.5978C7.87477 20.3237 7.86437 19.529 7.8609 18.6602C4.94825 19.2894 4.33279 17.4311 4.33279 17.4311C3.85775 16.2244 3.17119 15.9072 3.17119 15.9072C2.22112 15.2625 3.24228 15.2746 3.24228 15.2746C4.29465 15.3487 4.84771 16.3485 4.84771 16.3485C5.78045 17.9396 7.29744 17.4794 7.89384 17.2105C7.98746 16.5364 8.25966 16.0779 8.5596 15.8176C6.23294 15.5556 3.7884 14.6626 3.7884 10.6736C3.77398 9.63906 4.16007 8.63861 4.86678 7.87922C4.75929 7.61719 4.4004 6.55874 4.96906 5.12105C4.96906 5.12105 5.84806 4.84178 7.84877 6.18811C9.56486 5.72149 11.3755 5.72149 13.0915 6.18811C15.0905 4.84178 15.9678 5.12105 15.9678 5.12105C16.5382 6.5553 16.1793 7.61374 16.0718 7.87922C16.7807 8.63873 17.1676 9.64093 17.1519 10.677C17.1519 14.6747 14.7022 15.5556 12.372 15.8124C12.7465 16.1365 13.0811 16.7691 13.0811 17.7414C13.0811 19.1343 13.069 20.2548 13.069 20.5978C13.069 20.8754 13.258 21.1995 13.7885 21.0978C16.1463 20.3149 18.1472 18.7235 19.4332 16.6082C20.7191 14.493 21.2064 11.9918 20.8078 9.55211C20.4091 7.1124 19.1506 4.89326 17.2573 3.29158C15.364 1.6899 12.9595 0.810149 10.4736 0.809677H10.4702Z" />
              <path
                d="M7.00424 17.8017C7.00424 17.8862 6.90716 17.9586 6.78233 17.9603C6.6575 17.962 6.55521 17.8931 6.55521 17.8086C6.55521 17.7242 6.6523 17.6518 6.77712 17.65C6.90195 17.6483 7.00424 17.7155 7.00424 17.8017Z" />
              <path
                d="M7.80175 17.669C7.81735 17.7535 7.73066 17.8414 7.60584 17.8621C7.48101 17.8828 7.37178 17.8328 7.35618 17.75C7.34058 17.6673 7.43073 17.5776 7.55209 17.5552C7.67345 17.5328 7.78614 17.5845 7.80175 17.669Z" />
              <path
                d="M6.14775 17.7431C6.12174 17.8241 6.00385 17.8603 5.88595 17.8259C5.76806 17.7914 5.69004 17.6949 5.71258 17.6121C5.73512 17.5294 5.85475 17.4914 5.97437 17.5294C6.094 17.5673 6.17028 17.6587 6.14775 17.7431Z" />
              <path
                d="M5.3624 17.4052C5.30519 17.469 5.18903 17.4518 5.09368 17.3656C4.99833 17.2794 4.97578 17.1622 5.03299 17.1001C5.09021 17.0381 5.20637 17.0553 5.30519 17.1398C5.40401 17.2242 5.42308 17.3432 5.3624 17.4052Z" />
              <path
                d="M4.80242 16.826C4.73827 16.8708 4.62904 16.826 4.56836 16.7364C4.55158 16.7203 4.53824 16.701 4.52912 16.6797C4.52001 16.6584 4.5153 16.6354 4.5153 16.6123C4.5153 16.5891 4.52001 16.5662 4.52912 16.5448C4.53824 16.5235 4.55158 16.5042 4.56836 16.4882C4.63251 16.4451 4.74174 16.4882 4.80242 16.5761C4.8631 16.664 4.86483 16.7812 4.80242 16.826Z" />
              <path
                d="M4.38977 16.2279C4.35386 16.2458 4.31279 16.2509 4.27357 16.2421C4.23435 16.2333 4.19944 16.2112 4.17479 16.1796C4.10717 16.1072 4.0933 16.0072 4.14531 15.9624C4.19732 15.9176 4.29095 15.9382 4.35856 16.0106C4.42618 16.0831 4.44178 16.183 4.38977 16.2279Z" />
              <path
                d="M3.965 15.7573C3.94246 15.809 3.85924 15.8245 3.79163 15.7883C3.72401 15.7521 3.67374 15.6849 3.69801 15.6314C3.72228 15.578 3.80377 15.5642 3.87138 15.6004C3.939 15.6366 3.99101 15.7055 3.965 15.7573Z" />
            </g>
            <defs>
              <clipPath id="clip0_131_109">
                <rect width="20.9399" height="20.9399" transform="translate(0 0.373428)" />
              </clipPath>
            </defs>
          </svg>

        </a>
      </div>

      <div class="icons__wrapper icons__wrapper--mobile">
        <a class="icons__link" href="https://medium.com/@jameslegoff92" target="_blank">
          <svg class="icons__icon icons__icon-1" width="21" height="21" viewBox="0 0 21 21"
            xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_131_118)">
              <path
                d="M20.9398 10.3797C20.9398 13.1537 20.4749 15.4038 19.9013 15.4038C19.3277 15.4038 18.863 13.1543 18.863 10.3797C18.863 7.6052 19.3279 5.3557 19.9013 5.3557C20.4747 5.3557 20.9398 7.605 20.9398 10.3797Z" />
              <path
                d="M18.2899 10.3798C18.2899 13.4765 16.9679 15.9879 15.337 15.9879C13.7062 15.9879 12.3841 13.4765 12.3841 10.3798C12.3841 7.28299 13.706 4.77158 15.3368 4.77158C16.9677 4.77158 18.2897 7.28219 18.2897 10.3798" />
              <path
                d="M11.8113 10.3798C11.8113 13.6697 9.16724 16.3367 5.90577 16.3367C2.64429 16.3367 0 13.6691 0 10.3798C0 7.09043 2.64409 4.42262 5.90577 4.42262C9.16744 4.42262 11.8113 7.08982 11.8113 10.3798Z" />
            </g>
            <defs>
              <clipPath id="clip0_131_118">
                <rect width="20.9399" height="20.9399" transform="translate(0 0.0601501)" />
              </clipPath>
            </defs>
          </svg>

        </a>
      </div>
    </div>
  </nav>

  <div class="container">
    <header id="header" class="header">
      <!-- Main Navigation -->
      <nav class="nav-container">
        <button id="" class="mobile-nav-btn open-nav-js">
          <img src="/assets/shared/mobile-menu-button.svg" alt="mobile menu" />
        </button>

        <ul class="nav">
          <li class="nav__item">
            <a class="nav__link nav__link-1" href="#about">About</a>
          </li>
          <li class="nav__item">
            <a class="nav__link nav__link-2" href="#skills-section">Skills</a>
          </li>
          <li class="nav__item">
            <a class="nav__link nav__link-3" href="#projects">Projects</a>
          </li>
          <li class="nav__item">
            <a class="nav__link nav__link-4" href="#contact-section">Contact</a>
          </li>
        </ul>

        <img class="internationalization" src="/assets/shared/local_cafe.svg" alt="">
        <!-- <span class="internationalization">EN</span> -->
      </nav>

      <div class="portfolio-title">
        <div class="section-1">
          <span class="char">D</span>
          <span class="char">E</span>
          <span class="char">S</span>
          <span class="char">I</span>
          <span id="g" class="char color-salmon">G</span>
          <span class="char">N</span>
          <span class="char">E</span>
          <span class="char">R</span>
        </div>

        <div class="section-2">
          <span class="char">D</span>
          <span class="char">E</span>
          <span class="char">V</span>
          <span class="char">E</span>
          <span class="char">L</span>
          <span class="char">O</span>
          <span class="char">P</span>
          <span class="char">E</span>
          <span>R</span>
        </div>

        <div class="section-3">
          <span class="char color-mustard">B</span>
          <span>Y</span>
        </div>

        <div class="section-4">
          <span class="char">J</span>
          <span id="a" class="char">A</span>
          <span class="char">M</span>
          <span class="char">E</span>
          <span class="char">S</span>
        </div>

        <div class="section-5">
          <span class="char">L</span>
          <span class="char">E</span>
          <span class="char">-</span>
          <span class="char">G</span>
          <span class="char">O</span>
          <span class="char">F</span>
          <span id="f" class="char color-orange">F</span>
        </div>
      </div>

      <div class="container container--sm intro-gsap">
        <p id="about" class="text text--bold mb-2">Prologue,</p>

        <p id=about class="text text--italic mb-2"> A little about me </p>

        <p class="text op-75 mb-2">
          Developer and designer based in Montreal, Canada. I specialize in frontend development and design.
          From concept to creation, I'm always thinking about how users will interact with the products I create.
          My passion lies in crafting intuitive and visually appealing user interfaces that not only captivate users'
          attention but also seamlessly guide them through the digital experience,
          ensuring a delightful journey from start to finish.
        </p>

        <p class="text op-75 mb-2">
          As a formally educated business graduate, I bring an important business perspective to the world of design
          and development. My business background allows me to understand the clients' needs, align design choices with
          their goals, and effectively communicate project outcomes in a language that resonates with stakeholders. My
          business philosophy is simple<em>"Build what users want. Do it quickly, and do it often."</em>
        </p>

        <p class="text op-75 mb-2">
          Collaboration is the cornerstone of any worthwhile endeavour. I truly enjoy learning from others and working
          with people who are passionate about what they do. Steve jobs said <em> "Greats things in business are never
          done by one person, they're done by a team of people". </em>
          Through collaboration, I believe that we can leverage diverse perspectives and expertise to push the
          boundaries of creativity and innovation.
        </p>

        <p class="text op-75 mb-2">Let's build something amazing together!</p>

        <p class="text text--italic mb-2">A little bit more</p>

        <p class="text op-75">
          In my spare time I play guitar, attend comedy shows, go camping and hiking, and spend time with loved loves.
        </p>
      </div>
    </header>

    <main class="main">
      <div id="skills-section">
        <div class="h2 mb-3 u-text-center">
          <span>S</span>
          <span>K</span>
          <span>I</span>
          <span>L</span>
          <span>L</span>
          <span>S</span>
        </div>

        <div class="skills">
          <div>
            <div class="frontend" data-collapse="">
              <div class="skill">
                <div class="skill__heading skill__heading--1">
                  Frontend
                  <svg class="skill__icon skill__icon-1" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_6_13425)">
                      <path d="M5.87988 4.12L13.7599 12L5.87988 19.88L7.99988 22L17.9999 12L7.99988 2L5.87988 4.12Z"
                        fill="#323232" />
                    </g>
                    <defs>
                      <clipPath id="clip0_6_13425">
                        <rect width="24" height="24" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
            </div>
            <ul>
              <section class="frontend-cloud u-text-center"></section>
            </ul>
          </div>

          <div>
            <div class="backend" data-collapse="">
              <div class="skill u-text-center">
                <div class="skill__heading skill__heading--2">
                  Backend
                  <svg class="skill__icon skill__icon-2" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_6_13425)">
                      <path d="M5.87988 4.12L13.7599 12L5.87988 19.88L7.99988 22L17.9999 12L7.99988 2L5.87988 4.12Z"
                        fill="#323232" />
                    </g>
                    <defs>
                      <clipPath id="clip0_6_13425">
                        <rect width="24" height="24" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
            </div>
            <ul>
              <section class="backend-cloud"></section>
            </ul>
          </div>

          <div>
            <div class="devops" data-collapse="">
              <div class="skill">
                <div class="skill__heading skill__heading--3">
                  Devops
                  <svg class="skill__icon skill__icon-3" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_6_13425)">
                      <path d="M5.87988 4.12L13.7599 12L5.87988 19.88L7.99988 22L17.9999 12L7.99988 2L5.87988 4.12Z"
                        fill="#323232" />
                    </g>
                    <defs>
                      <clipPath id="clip0_6_13425">
                        <rect width="24" height="24" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
            </div>
            <ul>
              <section class="devops-cloud"></section>
            </ul>
          </div>
        </div>
      </div>

      <div>
        <div id="projects" class="h2 u-text-center mb-6">
          <span>P</span>
          <span>R</span>
          <span>O</span>
          <span>J</span>
          <span>E</span>
          <span>C</span>
          <span>T</span>
          <span>S</span>
        </div>
      </div>

      <div id="projects" class="grid">
        <div class="grid-item grid-item1">
          <div class="overlay">
            <a class="btn-sm btn-sm--link mb-1" href="https://jameslegoff92.github.io/github-userseach-app/"
              target="_blank"> Live Site </a>
            <a class="btn-sm btn-sm--link" href="https://github.com/jameslegoff92/github-userseach-app" target="_blank">
              Github Repo </a>
          </div>
          <img src="/assets/shared/devfinder-thumbnail.svg" alt="" />
        </div>


        <div class="grid-item grid-item2">
          <div class="overlay">
            <a class="btn-sm btn-sm--link mb-1" href="https://designoo.herokuapp.com/" target="_blank"> Live Site </a>
            <a class="btn-sm btn-sm--link" href="https://github.com/jameslegoff92/designoo" target="_blank"> Github Repo
            </a>
          </div>
          <img src="/assets/shared/designo-thumbnail.svg" alt="" />
        </div>

        <div class="grid-item grid-item5">
          <div class="overlay">
            <a class="btn-sm btn-sm--link mb-1" href="http://payapi.herokuapp.com/" target="_blank"> Live Site </a>
            <a class="btn-sm btn-sm--link" href="https://github.com/jameslegoff92/PayAPI" target="_blank"> Github Repo
            </a>
          </div>
          <img src="/assets/shared/payapi-thumbnail.svg" alt="" />
        </div>

        <div class="grid-item grid-item6">
          <div class="overlay">
            <a class="btn-sm btn-sm--link mb-1" href="https://jameslegoff92.github.io/tip-calculator-app/"
              target="_blank"> Live Site </a>
            <a class="btn-sm btn-sm--link" href="https://github.com/jameslegoff92/tip-calculator-app" target="_blank">
              Github Repo </a>
          </div>
          <img src="/assets/shared/splitter-thumbnail.svg" alt="" />
        </div>

        <div class="grid-item grid-item3">
          <div class="overlay">
            <a class="btn-sm btn-sm--link mb-1" href="https://jameslegoff92.github.io/Sunny-landing-page/"
              target="_blank"> Live Site </a>
            <a class="btn-sm btn-sm--link" href="https://github.com/jameslegoff92/Sunny-landing-page" target="_blank">
              Github Repo </a>
          </div>
          <img src="/assets/shared/image-gallery-orange.svg" alt="" />
        </div>

        <div class="grid-item grid-item4">
          <div class="overlay">
            <a class="btn-sm btn-sm--link mb-1" href="https://jameslegoff92.github.io/typemaster-landing-page/"
              target="_blank"> Live Site </a>
            <a class="btn-sm btn-sm--link" href="https://github.com/jameslegoff92/typemaster-landing-page"
              target="_blank"> Github Repo </a>
          </div>
          <img src="/assets/shared/image-glass-and-keyboard.svg" alt="" />
        </div>
      </div>
    </main>

    <div id="contact-section" class="mb-6">
      <section class="contact u-text-center">
        <h3 class="contact__heading"> Ready to build something amazing? Let's start now! </h3>
      </section>

      <!-- <form id="form" class="form">
          <div class="form__wrapper">
            <div class="form__container">
              <p class="form__text">My name is</p>
              <label class="form__label" for=""></label>
              <input class="form__input" type="text" name="name" placeholder="Enter your name" autocomplete="off"/>
            </div>

            <div class="form__container">
              <p class="form__text">From</p>
              <label class="form__label" for=""></label>
              <input class="form__input form__input--company" name="company" type="text" placeholder="Company name or website" autocomplete="off"/>
            </div>
          </div>

          <div class="form__container">
            <p class="form__text">I'd like to discuss project</p>
            <label class="form__label" for=""></label>
            <input
              class="form__input form__input--project-idea"
              name="project"
              type="text"
              placeholder="Describe your project idea (optional)"
              autocomplete="off"
            />
          </div>

          <div class="mb-6">
            <p class="form__text">You can reach me at</p>
            <label class="form__label" for=""></label>
            <input class="form__input form__input--email" name="email" type="text" placeholder="Provide email here" autocomplete="off"/>
          </div>
        </form> -->

      <div class="btn-container">
        <a class="btn btn--link" href="mailto:jameslegoff92@gmail.com"> Let's Connect </a>
      </div>
    </div>

    <div class="icons icons--row">
      <div class="icons__wrapper">
        <a class="icons__link" href="https://twitter.com/jameslegoff" target="_blank">
          <svg class="icons__icon icons__icon-1" width="21" height="21" viewBox="0 0 21 21"
            xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_131_105)">
              <path
                d="M6.58747 18.9768C14.4874 18.9768 18.8095 12.4302 18.8095 6.75478C18.8095 6.57073 18.8054 6.3826 18.7972 6.19856C19.638 5.59052 20.3636 4.83738 20.9399 3.97452C20.1568 4.32291 19.3254 4.55044 18.4741 4.64934C19.3705 4.11203 20.0417 3.26795 20.3632 2.27356C19.5199 2.77332 18.5977 3.12586 17.6361 3.31606C16.9882 2.62762 16.1315 2.17179 15.1986 2.01904C14.2656 1.8663 13.3083 2.02515 12.4747 2.47104C11.6411 2.91692 10.9775 3.625 10.5867 4.48581C10.1959 5.34662 10.0995 6.31221 10.3125 7.23328C8.60497 7.1476 6.93453 6.70403 5.40945 5.93135C3.88437 5.15866 2.53869 4.0741 1.45966 2.74798C0.911232 3.69353 0.743414 4.81242 0.990308 5.87725C1.2372 6.94208 1.88028 7.87295 2.78885 8.48068C2.10675 8.45902 1.43959 8.27537 0.842502 7.94491V7.99808C0.841891 8.99036 1.18493 9.95223 1.81331 10.7202C2.44169 11.4881 3.31663 12.0148 4.2894 12.2106C3.65754 12.3835 2.99438 12.4087 2.35123 12.2842C2.62573 13.1376 3.1598 13.8839 3.87891 14.4192C4.59802 14.9544 5.46628 15.2518 6.36253 15.2698C4.84097 16.465 2.9614 17.1133 1.02654 17.1102C0.683413 17.1097 0.340621 17.0886 0 17.0472C1.9656 18.3082 4.25213 18.978 6.58747 18.9768Z" />
            </g>
            <defs>
              <clipPath id="clip0_131_105">
                <rect width="20.9399" height="20.9399" />
              </clipPath>
            </defs>
          </svg>
        </a>
      </div>

      <div class="icons__wrapper">
        <a class="icons__link" href="mailto:jameslegoff92@gmail.com" target="_blank">
          <svg class="icons__icon icons__icon-2" width="21" height="22" viewBox="0 0 21 22" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_131_107)">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M14.6957 6.39966C13.6147 5.36864 12.172 4.80696 10.6793 4.83004C7.94787 4.83004 5.62807 6.67279 4.80093 9.15417C4.36236 10.4545 4.36236 11.8626 4.80093 13.1629H4.80477C5.63574 15.6405 7.95171 17.4832 10.6832 17.4832C12.0931 17.4832 13.3036 17.1226 14.2418 16.4856V16.483C15.3459 15.752 16.0999 14.6018 16.3346 13.3014H10.6793V9.26965H20.5549C20.678 9.96982 20.7357 10.6854 20.7357 11.3971C20.7357 14.5816 19.5976 17.2739 17.6174 19.0974L17.6195 19.099C15.8845 20.6994 13.5031 21.6266 10.6793 21.6266C6.72063 21.6266 3.10049 19.3952 1.32313 15.8597C-0.16185 12.9013 -0.161847 9.41582 1.32314 6.4574C3.1005 2.91805 6.72063 0.686695 10.6793 0.686695C13.28 0.655918 15.7921 1.63309 17.6849 3.41045L14.6957 6.39966Z" />
            </g>
            <defs>
              <clipPath id="clip0_131_107">
                <rect width="20.9399" height="20.9399" transform="translate(0 0.686714)" />
              </clipPath>
            </defs>
          </svg>
        </a>
      </div>

      <div class="icons__wrapper">
        <a class="icons__link" href="https://github.com/jameslegoff92" target="_blank">
          <svg class="icons__icon icons__icon-3" width="21" height="22" viewBox="0 0 21 22" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_131_109)">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M10.4702 0.809677C7.98462 0.810967 5.58058 1.6913 3.68791 3.29325C1.79525 4.89521 0.537368 7.11433 0.139198 9.55381C-0.258973 11.9933 0.228526 14.4941 1.51453 16.609C2.80054 18.7238 4.80119 20.3149 7.15875 21.0978C7.67886 21.1943 7.87477 20.8719 7.87477 20.5978C7.87477 20.3237 7.86437 19.529 7.8609 18.6602C4.94825 19.2894 4.33279 17.4311 4.33279 17.4311C3.85775 16.2244 3.17119 15.9072 3.17119 15.9072C2.22112 15.2625 3.24228 15.2746 3.24228 15.2746C4.29465 15.3487 4.84771 16.3485 4.84771 16.3485C5.78045 17.9396 7.29744 17.4794 7.89384 17.2105C7.98746 16.5364 8.25966 16.0779 8.5596 15.8176C6.23294 15.5556 3.7884 14.6626 3.7884 10.6736C3.77398 9.63906 4.16007 8.63861 4.86678 7.87922C4.75929 7.61719 4.4004 6.55874 4.96906 5.12105C4.96906 5.12105 5.84806 4.84178 7.84877 6.18811C9.56486 5.72149 11.3755 5.72149 13.0915 6.18811C15.0905 4.84178 15.9678 5.12105 15.9678 5.12105C16.5382 6.5553 16.1793 7.61374 16.0718 7.87922C16.7807 8.63873 17.1676 9.64093 17.1519 10.677C17.1519 14.6747 14.7022 15.5556 12.372 15.8124C12.7465 16.1365 13.0811 16.7691 13.0811 17.7414C13.0811 19.1343 13.069 20.2548 13.069 20.5978C13.069 20.8754 13.258 21.1995 13.7885 21.0978C16.1463 20.3149 18.1472 18.7235 19.4332 16.6082C20.7191 14.493 21.2064 11.9918 20.8078 9.55211C20.4091 7.1124 19.1506 4.89326 17.2573 3.29158C15.364 1.6899 12.9595 0.810149 10.4736 0.809677H10.4702Z" />
              <path
                d="M7.00424 17.8017C7.00424 17.8862 6.90716 17.9586 6.78233 17.9603C6.6575 17.962 6.55521 17.8931 6.55521 17.8086C6.55521 17.7242 6.6523 17.6518 6.77712 17.65C6.90195 17.6483 7.00424 17.7155 7.00424 17.8017Z" />
              <path
                d="M7.80175 17.669C7.81735 17.7535 7.73066 17.8414 7.60584 17.8621C7.48101 17.8828 7.37178 17.8328 7.35618 17.75C7.34058 17.6673 7.43073 17.5776 7.55209 17.5552C7.67345 17.5328 7.78614 17.5845 7.80175 17.669Z" />
              <path
                d="M6.14775 17.7431C6.12174 17.8241 6.00385 17.8603 5.88595 17.8259C5.76806 17.7914 5.69004 17.6949 5.71258 17.6121C5.73512 17.5294 5.85475 17.4914 5.97437 17.5294C6.094 17.5673 6.17028 17.6587 6.14775 17.7431Z" />
              <path
                d="M5.3624 17.4052C5.30519 17.469 5.18903 17.4518 5.09368 17.3656C4.99833 17.2794 4.97578 17.1622 5.03299 17.1001C5.09021 17.0381 5.20637 17.0553 5.30519 17.1398C5.40401 17.2242 5.42308 17.3432 5.3624 17.4052Z" />
              <path
                d="M4.80242 16.826C4.73827 16.8708 4.62904 16.826 4.56836 16.7364C4.55158 16.7203 4.53824 16.701 4.52912 16.6797C4.52001 16.6584 4.5153 16.6354 4.5153 16.6123C4.5153 16.5891 4.52001 16.5662 4.52912 16.5448C4.53824 16.5235 4.55158 16.5042 4.56836 16.4882C4.63251 16.4451 4.74174 16.4882 4.80242 16.5761C4.8631 16.664 4.86483 16.7812 4.80242 16.826Z" />
              <path
                d="M4.38977 16.2279C4.35386 16.2458 4.31279 16.2509 4.27357 16.2421C4.23435 16.2333 4.19944 16.2112 4.17479 16.1796C4.10717 16.1072 4.0933 16.0072 4.14531 15.9624C4.19732 15.9176 4.29095 15.9382 4.35856 16.0106C4.42618 16.0831 4.44178 16.183 4.38977 16.2279Z" />
              <path
                d="M3.965 15.7573C3.94246 15.809 3.85924 15.8245 3.79163 15.7883C3.72401 15.7521 3.67374 15.6849 3.69801 15.6314C3.72228 15.578 3.80377 15.5642 3.87138 15.6004C3.939 15.6366 3.99101 15.7055 3.965 15.7573Z" />
            </g>
            <defs>
              <clipPath id="clip0_131_109">
                <rect width="20.9399" height="20.9399" transform="translate(0 0.373428)" />
              </clipPath>
            </defs>
          </svg>

        </a>
      </div>

      <div class="icons__wrapper">
        <a class="icons__link" href="https://medium.com/@jameslegoff92" target="_blank">
          <svg class="icons__icon icons__icon-1" width="21" height="21" viewBox="0 0 21 21"
            xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_131_118)">
              <path
                d="M20.9398 10.3797C20.9398 13.1537 20.4749 15.4038 19.9013 15.4038C19.3277 15.4038 18.863 13.1543 18.863 10.3797C18.863 7.6052 19.3279 5.3557 19.9013 5.3557C20.4747 5.3557 20.9398 7.605 20.9398 10.3797Z" />
              <path
                d="M18.2899 10.3798C18.2899 13.4765 16.9679 15.9879 15.337 15.9879C13.7062 15.9879 12.3841 13.4765 12.3841 10.3798C12.3841 7.28299 13.706 4.77158 15.3368 4.77158C16.9677 4.77158 18.2897 7.28219 18.2897 10.3798" />
              <path
                d="M11.8113 10.3798C11.8113 13.6697 9.16724 16.3367 5.90577 16.3367C2.64429 16.3367 0 13.6691 0 10.3798C0 7.09043 2.64409 4.42262 5.90577 4.42262C9.16744 4.42262 11.8113 7.08982 11.8113 10.3798Z" />
            </g>
            <defs>
              <clipPath id="clip0_131_118">
                <rect width="20.9399" height="20.9399" transform="translate(0 0.0601501)" />
              </clipPath>
            </defs>
          </svg>

        </a>
      </div>
    </div>

    <div class="u-text-center">
      <a href="#body" style="color:white;" class="text text--link"> Return to top </a>
    </div>
  </div>
</body>
<script src="bundle.js">

</script>

</html>
